[submodule "hyfaa-scheduler"]
	path = hyfaa-scheduler
	url = https://github.com/OMP-IRD/hyfaa-scheduler.git
[submodule "hyfaa-database"]
	path = hyfaa-database
	url = https://github.com/OMP-IRD/hyfaa-database.git
[submodule "hyfaa-backend"]
	path = hyfaa-backend
	url = https://github.com/OMP-IRD/hyfaa-backend.git
[submodule "hyfaa-frontend"]
	path = hyfaa-frontend
	url = https://github.com/OMP-IRD/hyfaa-frontend.git
[submodule "pg_tileserv"]
	path = pg_tileserv
	url = https://github.com/OMP-IRD/pg_tileserv.git
[submodule "hyfaa-site"]
	path = hyfaa-site
	url = git@github.com:OMP-IRD/hyfaa-site.git
